
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Calculator</title>
	<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css"> -->
	<style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 20px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .red{
    	color:red;
    }
    .black{
    	color:black;
    }
    .green{
    	color:green;
    }
  </style>
	
</head>
<body>
	<div id="app">
		<p style="font-size:14px">请填写题的数量：<input style="width:55px" type="number" v-model="count"/> <button @click="submit()">确认</button></p> 
		<p v-for="(item, index) in items" :class="item.color">
			{{index+1}}、 {{item.first}} {{item.symbol}} {{item.second}} = 
			<input style="width:55px" type="number" v-model="item.value"/>&nbsp;&nbsp;<button @click="result(index)">查看正确答案</button>&nbsp;&nbsp;<span v-show="item.showResult">{{item.calculator}}</span>
		</p>
		<button @click="submitExam()">提交试卷</button>
		<div v-show="finalResult">
			<p>共{{count}}道题，答对{{trueCount}}, 答错{{count-trueCount}}</p>
			<p>最终得分<span style="color:red; font-size:50px">{{score}}</span></p>
		</div>
		
	</div>
	
	<script src="js/vue.js"></script>
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				items: [],
				count: '',
				score: 0,
				trueCount: 0,
				finalResult: false
			},
			
			methods: {
				init: function(){
					for(var i=0; i<this.count; i++){
						var fist = Math.round(Math.random()*1000);
						var second = Math.round(Math.random()*9);
						var symbol = ['+', '-', '×', '÷'];
						var flag = Math.round(Math.random()*3);
						this.items.push({
							'first': fist,
							'symbol': symbol[flag],
							'flag': flag,
							'second': second,
							'value': '',
							'calculator': 0,
							'showResult': false,
							'isTrue': false,
							'color': 'black'
						})
					}
				},
				submit:function(){
					if(!this.count || this.count < 1){
						alert("请填写出题数量");
					} else {
						this.items = [],
						this.score = 0,
						this.trueCount = 0,
						this.finalResult = false
						this.init()
					}
				},
				result: function(index){
					if(this.finalResult){
						switch (vm.items[index].flag){
							case 0:
									vm.items[index].calculator =  vm.items[index].first + vm.items[index].second;
									break;
							case 1:
									vm.items[index].calculator =  vm.items[index].first - vm.items[index].second;
									break;
							case 2:
									vm.items[index].calculator =  vm.items[index].first * vm.items[index].second;
									break;
							case 3:
									vm.items[index].calculator =  vm.items[index].first / vm.items[index].second;
									break;
						}
						vm.items[index].showResult = !vm.items[index].showResult;
					}else{
						alert("请提交试卷后，再查看答案");
					}
					
					
				},
				submitExam: function(){
					var average = 100/this.count;
					for(var i=0; i<this.count; i++){
						switch (vm.items[i].flag){
							case 0:
									if(vm.items[i].value == vm.items[i].first + vm.items[i].second){
										vm.items[i].isTrue = true;
										vm.trueCount ++;
										vm.items[i].color = 'green';
									}else{
										vm.items[i].isTrue = false;
										vm.items[i].color = 'red';
									}
										
									break;
							case 1:
								if(vm.items[i].value == vm.items[i].first - vm.items[i].second){
									vm.items[i].isTrue = true;
										vm.trueCount ++;
										vm.items[i].color = 'green';
									}else{
										vm.items[i].isTrue = false;
										vm.items[i].color = 'red';
									}
										break;
									
							case 2:
								if(vm.items[i].value == vm.items[i].first * vm.items[i].second){
									vm.items[i].isTrue = true;
										vm.trueCount ++;
										vm.items[i].color = 'green';
									}else{
										vm.items[i].isTrue = false;
										vm.items[i].color = 'red';
									}
									break;
									
							case 3:
									if(vm.items[i].value == Math.round(vm.items[i].first / vm.items[i].second)){
									vm.items[i].isTrue = true;
										vm.trueCount ++;
										vm.items[i].color = 'green';
									}else{
										vm.items[i].isTrue = false;
										vm.items[i].color = 'red';
									}
										
									break;
						}
					}
					vm.score = vm.trueCount*average;
					vm.finalResult = true;
				}
			}
		})
	</script>
</body>
</html>