<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue Search</title>
<link rel="stylesheet" href="styles/demo.css" />
</head>
<body>
	<div id="app">
		搜索<input type="text" v-model="searchQuery" />
		<test :dat='data' :colu='columns' :sq='searchQuery'></test>
	</div>
	<template id='template'>
		<table>
				<thead>
					<tr>
						<th v-for='c in colu'>
							{{c}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='d in dat | filterBy sq'>
						<td v-for=' c in colu'>
							{{d[c]}}
						</td>
					</tr>
				</tbody>
			</table>
	</template>
	<script src='js/vue1.js'></script>
	<script type="text/javascript">
		Vue.component('test',{
			template : '#template',
			props : {
				dat : Array,
				colu : Array,
				sq : String
			}
		});	
	
		new Vue({
			el : '#app',
			data : {
				searchQuery : '',
				columns : [ 'name', 'age', 'sex' ],
				data : [ {
					name : 'chen',
					age : '26',
					sex : 'man'
				},{
					name : 'li',
					age : '23',
					sex : 'man'
				} ]
			}
		});
		
		
	</script>
</body>

</html>