<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js/angularJS.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<h1>Angular测试</h1>
	<ul>
    	<li ng-repeat="x in users track by $index">{{x.username}},{{x.password}}
    		<ul>
    			<li ng-repeat="y in x.list track by $index">{{y.list}},{{$index}}</li>
    		</ul>
    	</li>
	</ul>
	<div ng-repeat="f in users track by $index">
		<h1>{{f.username}},{{f.password}}</h1>
		<h2 ng-repeat="e in f.list track by $index" ng-if="$index%2==0">{{e.list}}</h2>
	</div>
</body>
</html>